body {
  text-align: center;
  background: #111;
  color: white;
  font-family: sans-serif;
}
#gameCanvas {
  background: #222;
  border: 2px solid #fff;
  display: block;
  margin: 20px auto;
}
.note {
  width: 80px;
  height: 20px;
  border-radius: 10px;
}
